<p id="notice"><%= notice %></p>

<h1>Lessons</h1>

<ul>
  <% @lessons.each do |lesson| %>
  <li><strong><%= link_to lesson.name, lesson %></strong></li>

  <%= link_to 'Edit', edit_lesson_path(lesson) %>
  <%= link_to 'Destroy', lesson, method: :delete, data: { confirm: 'Are you sure?' } %>
  </tr>
  <% end %>
</ul>

<br>

<%= link_to 'New Lesson', new_lesson_path %>
