<p id="notice"><%= notice %></p>

<h1><%= @lesson.name %></h1>
<br>

<div id="content">
  <p>
    <script>
      var content = "<%= @lesson.content %>";
      //console.log(content);
      console.log(marked.parse(content));
    </script>

    <%= @lesson.content%>
  </p>
</div>

<%= link_to 'Edit', edit_lesson_path(@lesson) %> |
<%= link_to 'Back', lessons_path %>
